---
import "../styles/tabs.css";

interface ModelMap {
    [id: string]: {
        icon_name: string;
        text: string;
    };
}
export const primitiveModels: ModelMap = {
    viewport: { icon_name: "2d", text: "Viewport" },
    cube: { icon_name: "deployed_code", text: "Cube" },
    sphere: { icon_name: "circle", text: "Sphere" },
    torus: { icon_name: "donut_small", text: "Torus" },
    suzanne: { icon_name: "mood", text: "Suzanne" },
};
---

<button
    id="model-select"
    class="tab"
    popovertarget="model-select-dialog"
    data-model={Object.keys(primitiveModels)[0]}
>
    <span id="model-select-text">
        <span id="model-select-text-inner"
            >{primitiveModels[Object.keys(primitiveModels)[0]].text}</span
        >
    </span>
    <span id="model-select-icon" class="material-symbols-outlined">
        {primitiveModels[Object.keys(primitiveModels)[0]].icon_name}
    </span>
    <div id="model-select-dialog" popover="auto"></div>
    <div id="model-select-real" data-primitives={JSON.stringify(primitiveModels)}>
        {
            Object.entries(primitiveModels).map(([id, data]) => (
                <div
                    id={`model-select-${id}`}
                    class:list={[
                        "row clickable",
                        { selected: id === Object.keys(primitiveModels)[0] },
                    ]}
                >
                    <span class="text">{data.text}</span>
                    <span class="square">
                        <span class="icon material-symbols-outlined">{data.icon_name}</span>
                    </span>
                </div>
            ))
        }
        <label for="modelUploadButton" class="row">
            <span class="text">Upload Model</span>
            <span class="square">
                <span class="icon material-symbols-outlined">upload</span>
            </span>
            <input type="file" id="modelUploadButton" accept=".obj,.glb,.gltf" />
        </label>
    </div>
</button>

<script>
    const primitiveModels = JSON.parse(
        document.getElementById("model-select-real")?.dataset.primitives || "{}",
    );

    const modelSelectButton = document.getElementById("model-select")!;
    const modelSelectText = document.getElementById("model-select-text-inner")!;
    const iconElement = document.getElementById("model-select-icon")!;

    const rows = document.querySelectorAll("#model-select-real > .row.clickable");
    rows.forEach((row) => {
        row.addEventListener("click", () => {
            const modelId = row.id.replace(/^model-select-/, "");
            console.log(`Selected model: ${modelId}`);
            const modelData = primitiveModels[modelId];
            if (!modelData) return;
            modelSelectButton.dataset.model = modelId;
            iconElement.textContent = modelData.icon_name;
            modelSelectText.textContent = modelData.text;
            rows.forEach((r) => {
                r.classList.remove("selected");
                if (r.id === row.id) {
                    r.classList.add("selected");
                }
            });
            // TODO: Signal
        });
    });

    const modelUploadButton = document.getElementById("modelUploadButton") as HTMLInputElement;
    modelUploadButton.onchange = (event) => {
        const button = event.target as HTMLInputElement | null;
        if (!button?.files?.length) return;
        const file = button.files[0];
        // Load file content into the editor
        const reader = new FileReader();
        reader.onload = () => {
            // TODO: Load the model into the canvas. Needs to work for both text and binary formats
            const modelData = reader.result;
            console.log("Model data loaded:", modelData);
            // TODO: Signal
        };
        reader.readAsText(file);
    };
</script>

<style>
    #model-select {
        --border-width: 2px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: calc(var(--tab-height) / 2 - 12px);
        box-sizing: border-box;
    }
    #model-select-text {
        overflow: hidden;
        max-width: 0;
        transition: max-width 0.15s ease-in-out;
        > span {
            padding-right: 4px;
        }
    }
    #model-select:has(> #model-select-dialog:popover-open, :hover) > #model-select-text {
        max-width: 10em;
    }
    #model-select:has(> #model-select-dialog:popover-open)::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: var(--border-width);
        background: inherit;
        z-index: 2;
    }
    #model-select-dialog:popover-open + * {
        display: flex;
    }
    #model-select-real {
        display: none;
        z-index: 1;
        position: absolute;
        top: 100%;
        left: auto;
        right: calc(0px - var(--border-width));

        background: var(--bg-normal);
        color: var(--text);
        box-sizing: border-box;
        border: var(--border-width) solid var(--bg-dark);

        flex-direction: column;

        > .row {
            text-wrap: nowrap;
            padding-left: 4px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(.selected) .icon {
                transition: font-variation-settings 0.1s ease-in-out;
                font-variation-settings: "FILL" 0;
            }
            &:hover .icon {
                font-variation-settings: "FILL" 1;
            }
            > .text {
                flex-grow: 1;
            }
            &:nth-child(odd) {
                background: var(--bg-light);
            }
            input[type="file"] {
                display: none;
            }
        }
    }
</style>
